<label class="input">
  <span class="input__label">{{label}}</span>
  <input class="input__native-element" placeholder={{placeholder}} name={{name}} type={{type}}>
  <span class="input__error">{{errorText}}</span>
</label>
